<form (submit)="guardarCambios()" [formGroup]="form">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" formControlName="nombre" [(ngModel)]="valorInput" (click)="validarCampoNombre()" (input)="validarCampoNombre()">
    <div class="alert alert-danger mt-2" *ngIf="nombreValido === false">{{ obtenerErrorCampoNombre() }}</div>

    <div class="mt-4">
        <button class="btn" id="btn-save" [disabled]="form.invalid">Guardar cambios</button>
        <a class="btn btn-danger" routerLink="/generos">Cancelar</a>   
    </div>
</form>