
<app-listado-generico [listado]="peliculas">

    <ng-container contenido>

      <div class="peliculas-contenedor">
        <div *ngFor="let pelicula of peliculas; let index = index" class="pelicula-contenedor"> 
          
          <a href="">
            <img [src]="pelicula.poster" alt="poster" />
          </a>
          <p>
            <a href="">{{ pelicula.titulo }}</a>
          </p>
          <div>
            <a href="" class="btn" id="btn-editar">Editar</a>
            <button class="btn btn-danger">Borrar</button>
          </div>

        </div>
      </div>

    </ng-container>

</app-listado-generico>


