.peliculas-contenedor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.pelicula-contenedor {
    align-items: center;
    margin-right: 2%;
    margin-bottom: 10px;
    text-align: center;
}

p {
    max-width: 225px;
    height: 44px;
    font-size: 15px;
    font-weight: bold;
}

p a {
    text-decoration: none;
    color: black;
}

img {
    width: 225px;
    height: 300px; 
}

button {
    margin-left: 1rem;
}

@media (max-width: 576px) {
    .pelicula-contenedor {
        width: 100%;
        margin-bottom: 10%;
    }

    .pelicula-contenedor img {
        width: 100%;
        height: auto;
    }

    .pelicula-contenedor p {
        margin-bottom: 0;
    }
}