<form [formGroup]="form" (submit)="guardarCambios()">
    <div>
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" formControlName="nombre" #nombre>
        <div class="alert alert-danger mt-2" *ngIf="nombreValido === false">{{ obtenerErrorCampoNombre() }}</div>
    </div>

    <div>
        <label for="nombre">Fecha de nacimiento</label>
        <input type="date" name="" id="" formControlName="fechaNacimiento" class="form-control">
    </div>

    <ng-container *ngIf="modelo !== undefined">
        <app-input-img  [urlImagenActual]="modelo.foto" (archivoSeleccionado)="getArchivoSeleccionado($event)"></app-input-img>
    </ng-container>

    <ng-container *ngIf="modelo === undefined">
        <app-input-img class="mb-3" (archivoSeleccionado)="getArchivoSeleccionado($event)"></app-input-img>
    </ng-container>

    <app-input-markdown  [encabezado]="'biografía'" class="mt-3" (changeMarkdown)="cambioMarkdown($event)"></app-input-markdown>

    <div class="mt-4">
        <button class="btn" id="btn-save" [disabled]="validarFormulario() === false">Guardar cambios</button>
        <a class="btn btn-danger" routerLink="/actores">Cancelar</a>   
    </div>
</form>