<form [formGroup]="form" (submit)="guardarCambios()">
    <div>
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" formControlName="nombre" #nombre>
        <div class="alert alert-danger mt-2" *ngIf="nombreValido === false">{{ obtenerErrorCampoNombre() }}</div>
    </div>

    <div>
        <label for="nombre">Fecha de nacimiento</label>
        <input type="date" name="" id="" formControlName="fechaNacimiento" class="form-control">
    </div>

    <app-input-img (archivoSeleccionado)="getArchivoSeleccionado($event)"></app-input-img>

    <div class="mt-4">
        <button class="btn" id="btn-save" [disabled]="validarFormulario() === false">Guardar cambios</button>
        <a class="btn btn-danger" routerLink="/actores">Cancelar</a>   
    </div>
</form>