<form [formGroup]="form" (submit)="onSubmit()">
    <div>
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" formControlName="nombre" #nombre>
        <div class="alert alert-danger mt-2" *ngIf="nombre.value === ''">El campo nombre es requerido</div>
    </div>

    <div>
        <label for="nombre">Fecha de nacimiento</label>
        <input type="date" name="" id="" formControlName="fechaNacimiento" class="form-control">
    </div>

    <div class="mt-4">
        <button class="btn" id="btn-save" [disabled]="form.invalid">Guardar cambios</button>
        <a class="btn btn-danger" routerLink="/actores">Cancelar</a>   
    </div>
</form>