/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/bootstrap";

@import url("https://unpkg.com/leaflet@1.9.3/dist/leaflet.css");

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.tabla-indice{
    width: 100%;
    margin-top: 1rem;
}

.btn-editar {
    background-color: #3D54C0; 
    color: white
}

.btn-editar:hover {
    background-color: #5568be;
}

